<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <p class="slds-text-heading--label">T.Yoshikawa Labs</p>
      <div class="slds-grid">
        <div class="slds-grid slds-type-focus slds-no-space">
          <h1 class="slds-page-header__title slds-truncate" title="Lightning Design System Apps">TypeScript Sample: Warship Combat</h1>
        </div>
      </div>
    </div>
  </div>
  <p class="slds-text-body--small slds-page-header__info"></p>
</div>